.back-color {
    background-color: black;
    color: white;
}

.first {
    padding: 7px;
    margin: 4px;
}

i {
    color: rgb(209, 0, 36);
}

.input-group {
    margin: 7px;

}

.contacts {
    font-size: 11px;
}

.span1 {
    float: right;
    margin-right: 20px;
}

.electrologo {
    width: 120px;
    margin-left: 20px;
}

.textaligncenter {
    text-align: center;
}

.cartwishicon {
    font-size: 12px;
}

.cartwishtext {
    font-size: 12px;
}

.mr0 {
    margin-right: 0px;
}

.rowborder {
    border-bottom: 2px solid rgb(209, 0, 36);
}

.thirdrowborder {
    border-bottom: 2px solid rgb(141, 154, 177);
}

.homenav {
    border-bottom: 3px solid rgb(209, 0, 36);
    padding: 0;
    height: 32px;
    padding-top: 7px;
    margin-right: 12px;
}

.searchbutton {
    border-bottom-right-radius: 19px;
    border-top-right-radius: 19px;
    background-color: rgb(209, 0, 36);
    color: white;
    margin-right: 124px;
}

.allcategoriesbutton {
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
}

.afterhome {
    margin-top: 35px;
    margin-bottom: 65px;
}

.thirdnavbar {
    font-weight: 500;
}

.fourthrowspan {
    display: flex;
    margin: 32px;
    color: rgb(141, 154, 177);
    font-size: 14px;
    font-weight: 500;
}

.fourthrowbackcolor {
    background-color: rgb(251, 251, 252);
}

.fourthrowborder {
    border-bottom: 2px solid rgb(141, 154, 177);
    margin-bottom: 5rem;
}

.fourthrowfifthspan {
    color: black;
    font-weight: 500;
}

.fifthcard {
    width: 188px;
    margin-left: 12px;
}

.spanfifthone {
    font-size: 23px;
    font-weight: bold;
    color: rgb(209, 0, 36);
    text-align: center;
}

.fifthspantwo {
    color: rgb(141, 154, 177);
    font-size: 14px;
    font-weight: 500;
}

.fivecolmd7img {
    width: 70%;
    margin-top: -96px;
    margin-left: 117px;
}

.fivespanstock {
    float: right;
    margin-right: 60px;
    padding: 11px;
    font-weight: bolder;
    font-size: 15px;
    color: rgb(209, 0, 36);
}

.fivespantenreview {
    float: right;
    margin: -20px;
    padding-right: 42px;
    font-size: 16px;
    font-weight: 500;
}

.fivelabelsize {
    width: 23%;
    padding: 5px;
}

.fivespancolormargin {
    margin-left: 25px;
}

.fivelabelfontsize {
    font-size: 15px;
}

.fivecolorsize {
    width: 27%;
    padding: 5px;
}

.fivequantity {
    margin-top: 30px;
}

.fivequantitylabelfontsize {
    font-size: 15px;
}

.fiveinputnumber {
    width: 23%;
    padding: 5px;
}

.fivebuttonaddto {
    margin-left: 25px;
    padding: 5px;
    width: 54%;
    border-radius: 16px solid black;
    border-radius: 25px;
    background-color: rgb(209, 0, 36);
    color: white;
    border: 2px solid rgb(209, 0, 36);
    font-weight: 600;
}

.fiveheartsize {
    font-size: 13px;
    color: black !important;
}

.fivefontsizewishlist {
    font-size: 13px;
}

.fivearrowsize {
    margin-left: 25px;
    font-size: 13px;
    color: black !important;
}

.fivecategoryspan {
    margin-top: 18px;
    font-size: 13px;
}

.fivespanicon {
    padding: 3px;
    margin: 3px;
}

.fivesharesizeicon {
    color: black !important;
}

.sixfourpointfivespan {
    font-size: 23px;
    font-weight: bold;
}

.sixcolumnfirststar {
    padding: 0px;
    font-size: 21px;
    display: inline;
}

.sixthrowstars {
    font-size: 19px;
}

.sixthrowprogress {
    padding-top: 9px;
}

.sixthrowspan {
    padding-top: 3px;
    font-size: 19px;
    color: rgb(141, 154, 177);
}

.sixthrowjohnsize {
    font-weight: bold;
    font-size: 18px;
}

.sixthrowdatetimesize {
    font-size: 14px;
    font-weight: 500;
    color: rgb(141, 154, 177);
}

.sixthrow2row {
    padding-bottom: 32px;
}

.sixthyourname {
    padding: 5px;
    margin: 5px;
    width: 64%;
}

.sixthrowyourreview {
    width: 64%;
    margin: 5px;
    padding: 5px;
    height: 97px;
}

.sixthrowyourrating {
    font-weight: 500;
    margin: 5px;
}

.sixthrowstarcolor {
    color: rgb(141, 154, 177) !important;
}

.sixthrowsbutton {
    margin: 12px;
    border-radius: 25px;
    padding: 11px;
    width: 34%;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: rgb(209, 0, 36);
    border: none;
}

.sixthrowsonebutton {
    width: 2%;
    color: white;
    background-color: rgb(209, 0, 36);
    font-weight: 300;
    border: none;
    height: 30px;
}

.sixthrow234button {
    width: 2%;
    height: 30px;
    border: none;
}

.hrfive {
    margin: 14px;
    height: 2px;
    background: rgb(226, 228, 231);
}

.eighthrow {
    margin-bottom: 16px;
}

.ninepagination {
    margin: 18px;
    float: right;
}

.imgten {
    width: 136%;
    margin: 2px;
}

.tenclasstwo {
    padding-left: 35px;
    padding-top: 6px;
}

.tencategory {
    color: rgb(203, 208, 218);
}

.tendollarone {
    color: rgb(209, 0, 36);
    font-weight: bold;
}

.rowten {
    margin-bottom: 35px;
}

.hrafterten {
    color: rgb(203, 208, 218);
    height: 3px;
}

.elevenrow {
    padding-top: 35px
}

.tenh4 {
    text-align: center;
}

.teninputgroup {
    margin: auto;
    width: 35% !important;
    padding-top: 21px;
}

.tenleftborderradius {
    border-bottom-left-radius: 21px;
    border-top-left-radius: 21px;
}

.tenrightborderradius {
    border-bottom-right-radius: 21px;
    border-top-right-radius: 21px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgb(209, 0, 36);
    color: white;
}

.tenenvelope {
    color: white;
    padding-right: 5px;
    height: 26px;
}

.elevenicons {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.eleveniconemail {
    text-align: center;
    position: absolute;
    right: 17em;
}

.elevenicon {
    color: rgb(203, 208, 218);
    font-size: 138px;
}

.eleveniconone {
    transform: rotate(22deg);
    margin-top: -2em;
}

.eleveniconsquare {
    height: 50px;
    width: 50px;
    background-color: white;
    color: black !important;
    border: 1px solid rgb(203, 208, 218);
    padding: 7px;
}

.twelverow {
    background-color: black;
    color: white;
    border-top: 3px solid rgb(209, 0, 36);
}

.twelvetitles {
    padding-top: 50px;
    padding-bottom: 22px;
    font-size: 19px;
    font-weight: bold;
}

.itwelve {
    margin-right: 11px;
}

.inametwelve {
    font-weight: 400;
    color: rgb(203, 208, 218)
}

.itwelvepara {
    margin-bottom: 16px;
    font-weight: 400;
    color: rgb(203, 208, 218);
}

.h6twelve {
    margin-bottom: 16px;
    font-weight: 400;
    color: rgb(203, 208, 218);
}

.sixcategory {
    text-align: center;
    color: rgb(203, 208, 218);
}

.sixbuttons {
    text-align: end;
    margin: 9px;
}

.sixbuttonthirty {
    background-color: white;
    color: rgb(209, 0, 36);
    border: 2px solid rgb(209, 0, 36);
    height: 30px;
}

.sixbuttonsnew {
    height: 30px;
}

.sixnewbutton {
    background-color: rgb(209, 0, 36);
    color: white;
    border: 2px solid rgb(209, 0, 36);
}

.sixh6 {
    text-align: center;
    color: black;
}

.sixspan {
    text-align: center;
}

.spansixone {
    font-size: 23px;
    font-weight: bold;
    color: rgb(209, 0, 36);
    text-align: center;
}

.sixspantwo {
    color: rgb(141, 154, 177);
    font-size: 14px;
    font-weight: 500;
}

.starfill {
    margin: 3px auto;
    position: relative;
    text-align: center;
}

.starfill::after {
    content: "";
    position: absolute;
    display: block;
    background: rgb(226, 228, 231);
    width: 105px;
    height: 2px;
    left: 0;
    top: 57%;
}

.starfill::before {
    content: "";
    position: absolute;
    display: block;
    background: rgb(226, 228, 231);
    width: 105px;
    height: 2px;
    right: 0;
    top: 57%;
}

.sixheart {
    padding-top: 10px;
    text-align: center;
}

.sixhearti {
    color: black !important;
}

.eightrowproducts {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.hrafterten {
    color: rgb(203, 208, 218);
    height: 3px;
}

.elevenrow {
    padding-top: 35px
}

.tenh4 {
    text-align: center;
}

.teninputgroup {
    margin: auto;
    width: 35% !important;
    padding-top: 21px;
}

.tenleftborderradius {
    border-bottom-left-radius: 21px;
    border-top-left-radius: 21px;
}

.tenrightborderradius {
    border-bottom-right-radius: 21px;
    border-top-right-radius: 21px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgb(209, 0, 36);
    color: white;
}

.tenenvelope {
    color: white;
    padding-right: 5px;
    height: 26px;
}

.elevenicons {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.eleveniconemail {
    text-align: center;
    position: absolute;
    right: 17em; 
}

.elevenicon {
    color: rgb(203, 208, 218);
    font-size: 138px;
}

.eleveniconone{
    transform: rotate(22deg);
    margin-top: -2em;
}

.eleveniconsquare {
    height: 50px;
    width: 50px;
    background-color: white;
    color: black !important;
    border: 1px solid rgb(203, 208, 218);
    padding: 7px;
}

.twelverow {
    background-color: black;
    color: white;
    border-top: 3px solid rgb(209, 0, 36);
}

.twelvetitles {
    padding-top: 50px;
    padding-bottom: 22px;
    font-size: 19px;
    font-weight: bold;
}

.itwelve{
    margin-right: 11px;
}
.inametwelve {
    font-weight: 400;
    color: rgb(203, 208, 218)
}
.itwelvepara{
    margin-bottom: 16px;
    font-weight: 400;
    color: rgb(203, 208, 218);
}
.h6twelve {
    margin-bottom: 16px;
    font-weight: 400;
    color: rgb(203, 208, 218);
}